//**
// Copyright © 2019 Roma Technology Ltd. All rights reserved.
// See COPYING.txt for license details.
//**


//
//  Common
//  _____________________________________________

& when (@media-common = true) {
  .columns {
    .column.main {
      padding-bottom: 5px;
    }
  }

  .grecaptcha-badge {
    display:none;
  }

  a {
    .lib-link(@color-brand, none, @color-brand, none, @color-brand, none, @color-brand-secondary, none);
  }

  .block-search {
    .label {
      color: @color-white;
    }
  }

  .copyright {
    .lib-css(background-color, @copyright__background-color);
    .lib-css(color, @color-white);
    box-sizing: border-box;
    display: block;
    padding: @indent__s;
    text-align: center;
  }

  .page-header {
    margin-bottom: 0;
    .panel.wrapper {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
    }
    .header.content {
      position: absolute;
      left: 25px;
      right: 25px;
      z-index: 1;
      max-width: none;
    }
  }

  .page-main {
    margin-bottom: 10px;
  }

  .page-footer {
    .footer.content {
      max-width: none;
      position: relative;
      border: none;
      margin: 0;
      padding: 0;
    }
  }

  .block.newsletter {
    position: absolute;
    margin: 0;
    bottom: 10px;
    .label {
      display: none;
    }

    .mage-error {
      border-width: 2px;
    }

    div.mage-error {
      position: absolute;
      color: lightpink;
      margin-top: 2px;
    }
  }

  .message.global {
    &.cookie {
      z-index: 100;
      left: 5px;
      right: 5px;
      bottom: 5px;
    }
  }

  .form.contact {
    .field-recaptcha {
      float: right;
    }
  }

  .login-container {
    .block {
      .block-title {
        color:@color-brand-secondary;
        font-size: 20px;
        line-height: 44px;
        letter-spacing: 1px;
        padding-bottom: 0;
      }
    }
    .field-recaptcha {
      float: right;
    }
  }

}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .header.content {
    position: absolute;
    top: 0;
  }

  .page-header {
    border-bottom: none;
  }

  .block-search .control {
    border-top: none;
  }

  .block.newsletter {
    left: 15px;
    right: 15px;
  }

  .navigation {
    a:visited {
      .lib-css(color, @navigation-level0-item__color);
    }
    .level0 {
      > .level-top {
        word-wrap: break-word;
        &:hover {
          .lib-css(color, @color-white);
          .lib-css(background, @color-brand);
        }
      }
      &.active {
        .all-category {
          .ui-state-focus {
            .lib-css(padding-left, @submenu__padding-left);
            width: 100%;
          }
        }
      }
      > .level1 {
        .lib-css(font-weight, @submenu__font-weight);
      }
      &.active,
      &.has-active {
        > a:not(.ui-state-active) {
          span:not(.ui-menu-icon) {
            .lib-css(margin-left, 0);
          }
        }
      }
    }
    .submenu {
      > li {
        .lib-css(padding-left, @submenu__padding-left);
        > a {
          &:hover {
            .lib-css(color, @color-white);
            .lib-css(background, @color-brand);
          }
        }
      }
      &:not(:first-child) {
        .level1 {
          &.active {
            > a {
              .lib-css(padding-left, @submenu__padding-left);
            }
          }
        }
      }
    }
  }

  .nav-sections-item-switch {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
      .lib-link(@color-gray34, none, @color-gray34, none, @color-brand, none, @color-gray34, none);
  }

  .nav-sections .header.links {
    border-bottom: none;
    & a {
      text-transform: uppercase;
      .lib-link(@color-gray34, none, @color-gray34, none, @color-brand, none, @color-gray34, none);
    }
  }
}

//
//  Tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .page-header {
    .panel.wrapper {
      border-bottom: none;
    }
    & .header {
      &.content {
        top: 50px;
      }
      &.panel {
        margin-top: 20px;
        padding-top: 16px;
      }
      &.content {
        padding-top: 0px;
      }
    }
  }

  .minicart-wrapper {
    margin-top: 30px;
  }

  .header {
    &.links {
      & > li {
        margin: 0;
        &.welcome {
          color: @color-white;
          font-weight: 600;
        }
      }
      a {
        position: relative;
        text-transform: uppercase;
        font-weight: 600;
        padding-left: 0;
        .lib-link(@color-white, none, @color-white, none, @color-white, none, @color-white, none);
        &:hover {
          &::before {
            transform: translateX(-50%) scaleX(1);
          }
        }
        &::before {
          content: '';
          position: absolute;
          bottom: -1px;
          height: 2px;
          left: 50%;
          width: 100%;
          background-color: @color-white;
          transform: translateX(-50%) scaleX(0);
          .lib-transition_transform(0.2s);
        }
      }
    }
  }

  .logo {
    margin: 10px auto 0 0;
  }

  .navigation {
    position: absolute;
    top: 26px;
    left: 11.5%;
    width: auto;
    .level0 {
      > .level-top {
        text-transform: uppercase;
        &:hover, &.ui-state-focus {
          &::before {
            transform: translateX(-50%) scaleX(1);
          }
        }
        &::before {
          content: '';
          position: absolute;
          bottom: 10px;
          left: 50%;
          height: 2px;
          width: 100%;
          background-color: @color-white;
          transform: translateX(-50%) scaleX(0);
          .lib-transition_transform(0.2s);
        }
      }
      &.parent {
        > .level-top {
          padding-right: 0;
        }
      }
    }
  }

  .block-search {
    margin-top:30px;
  }

  .block.newsletter {
    width: 375px;
    right: 45px;
  }

  .login-container {
    .field-recaptcha {
      margin-bottom: 20px;
      float: none;
    }
    & .fieldset:after {
      margin-left: 0;
    }
  }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

}