//**
// Copyright © 2018 Roma Technology Ltd. All rights reserved.
// See COPYING.txt for license details.
//**

//
// buttons
//
@button__border-radius: 6px;
@button-primary__background: @color-brand;
@button-primary__border: 2px solid @color-brand;
@button-primary__color: @color-white;
@button-primary__gradient-color-start: false;
@button-primary__gradient-color-end: false;

@button-primary__hover__background: fade(@color-brand, 0%);
@button-primary__hover__border: 2px solid @color-brand;
@button-primary__hover__color: @color-brand;
@button-primary__hover__gradient-color-start: false;
@button-primary__hover__gradient-color-end: false;

@button-primary__active__background: @button-primary__hover__background;
@button-primary__active__border: @button-primary__hover__border;
@button-primary__active__color: @button-primary__color;
@button-primary__active__gradient-color-start: false;
@button-primary__active__gradient-color-end: false;

//
// Colors
@color-brand: #84c1c1;
@color-brand-secondary: #579aba;

@header__background-color: @color-brand-secondary;
@header-panel__background-color: @color-brand-secondary;
@header-icons-color: @color-white;
@header-icons-color-hover: @color-brand;

@footer__background-color: @color-gray46;
@footer-links-color: @color-white;
@footer-links-color-hover: @color-brand;

@copyright__background-color: @color-gray46;
