//**
// Copyright © 2018 Roma Technology Ltd. All rights reserved.
// See COPYING.txt for license details.
//**

//
// Brand
//  ---------------------------------------------
@color-brand: #84c1c1;
@color-brand-secondary:#579aba;
@color-brand-grey: #a0a0a0;
@color-brand-grey-light: #dbdbdb;
@color-brand-grey-dark: #777;


@Grid_Container: 1200px;
@Grid_Gutter: 16px;
@Global_Radius: 6px;
@Global_Transition: 0.2s;
@Box_Shadow: 0 2px 20px 1px rgba(0, 0, 0, 0.10);

//
//  Minicart
//  ---------------------------------------------
@minicart-icons-color: @color-white;
@minicart-icons-color-hover: @color-brand;

//
//  Header
//  ---------------------------------------------
@header-icons-color: @color-white;
@header-icons-color-hover: @color-brand;

//
//  Buttons
//  ---------------------------------------------

//  Primary button
@button-primary__color: @color-white;
@button-primary__background: @color-brand;
@button-primary__border: 1px solid @color-brand;
@button-primary__hover__color: @color-brand;
@button-primary__hover__background: @color-white-smoke;
@button-primary__hover__border: 1px solid @color-white-smoke;
@button-primary__active__background: @color-brand;
@button-primary__active__border: 1px solid @color-brand;
@button-primary__active__color: @color-white;

//
//  Copyright
//  ---------------------------------------------
@copyright__color: @color-white;
@copyright__background-color:@color-brand-grey;
@copyright__background-color:@color-brand-grey-dark;
